@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #fff;
    height: 100vh;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: "Courgette", cursive;
}

.logout {
    position: relative;
    left: 1200px;
    margin-top: 10px;
}

.whole-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.left-side {
    margin: 30px;
    display: flex;
    flex-direction: column;
}
h3 {
    text-align: center;
    margin-top: 30px;
}

.list-of-sites {
    display: flex;
    flex-direction: column;
}
#web-list {
    text-overflow: clip;
    display: flex;
    align-items: flex-start;
    justify-items: center;
    justify-content: space-around;
    height: 50px;
    width: 600px;
    border: 5px, black, solid;
    padding: 10px;
}

.right-side {
    margin: 30px 30px 30px 0;
}

.submit {
    height: 50px;
    width: 100px;
    color: black;
}
.sites-monitored {
    height: 500px;
    width: 1000px;
    border: 10px, black, solid;
    padding: 5px;
    font-size: xx-small;
    font-weight: 200;
}

footer {
    position: relative;
    top: 700px;
    text-align: center;
}
